.task-item {
  padding: 10px;
  border-top: 1px solid #e1dfdf;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    width: 50%;
  }

  .expire-date {
    width: 30%;
  }

  .status {
    margin-left: auto;
  }
}

.bold-item {
  font-weight: bold;
}
