<div class="task-item">
  <div class="title">Task: {{ task.title }}</div>
  <div *ngIf="task.expireDate" class="expire-date">
    Expired Date - {{ task.expireDate | date : 'longDate' }}
  </div>
  <div class="status">
    <span *ngIf="task.complete" class="bold-item">Completed</span>
    <span *ngIf="!task.complete && task.expire" class="bold-item">Expired</span>
    <button
        *ngIf="!task.complete && !task.expire"
        class="btn"
        (click)="completeTaskItem(task.uuid)"
    >
      Complete Task
    </button>
  </div>
</div>
