html, body, div, span,
h1, p, ul, li {
  padding: 0;
  border: 0;
}

body {
  background: #f1f1f1;
  font-size: 16px;
  line-height: 22px;
  color: #404040;
}

ol, ul {
  list-style: none;
}

.btn {
  background: lightseagreen;
  color: #fff;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.btn-invalid {
  background: #e4e9e9;
  color: #fff;
  cursor: not-allowed;
}

.btn:focus {
  background: #4d6e87;
}
